#div_table
{
margin:10px;
border-radius: 5px;
background-color: #EEEEEE;
overflow-x:auto;
height: 500px;
}

table{
border-collapse:collapse;
font-size: 12px;
white-space: nowrap;
min-width: 100%
}

#div_hoTen{
padding: 0;
margin: 0;
border: 0;
border-left: 0.5px solid #DDDDDD;
border-right: 0.5px solid #DDDDDD;
display: flex;
justify-content: center;
align-items: center;
height: 35.5px;
}

th{
color: white;
padding:0;
border-right:1px solid #DDDDDD;
}

#input_locTheoTen{
height: 27px;
width: 150px;
margin: 0;
padding: 0;
border: 0;
border-left: 0.5px solid #DDDDDD;
border-right: 0.5px solid #DDDDDD;
border-bottom: 0.5px solid #DDDDDD;
}

.div_borderBottom{
height: 27px;
border-bottom: 0.5px solid #DDDDDD;
}

.th-sticky {
position: sticky;
top: 0px;
background-color: #2A388F;
}
.th-sticky1 {
position: sticky;
top: 0px;
background-color: #2A388F;
left: 0px;
z-index: 1;
padding: 10px;
border-right: 0;
}
.th-sticky2 {
position: sticky;
top: 0px;
background-color: #2A388F;
left: 80.21px;
z-index: 1;
border-right: 0;
}
.th-sticky3 {
position: sticky;
top: 0px;
background-color: #2A388F;
left: 231.81px;
z-index: 1;
}
.th-sticky4 {
position: sticky;
top: 35.5px;
left: 0px;
z-index: 1;
border-right: 0;
background-color: #EEEEEE;
}
.th-sticky5 {
position: sticky;
top: 35.5px;
left: 80.21px;
z-index: 1;
border-right: 0;
}
.th-sticky6 {
position: sticky;
top: 35.5px;
left: 231.81px;
z-index: 1;
background-color: #EEEEEE;
}
.th-sticky7 {
position: sticky;
top: 35.5px;
background-color: #EEEEEE;
}

/* ------------------------ */
td{
padding:0;
border-right:1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
}

.input_td, .input_td_gray{
width:35px;
height: 20px;
border: 0;
padding: 0 0 0 3px;
margin: 0 2px;
}
.input_td_gray{
background-color: #EEEEEE;
}

.td_sticky1{
position: sticky;
left: 0px;
background-color: #EEEEEE;
border-right: 0;
}
.td_sticky2{
position: sticky;
left: 80.21px;
background-color: #EEEEEE;
border-right: 0;
}
.td_sticky3{
position: sticky;
left: 229.81px;
background-color: #EEEEEE;
padding: 5px;
}
.td_sticky3_white{
position: sticky;
left: 229.81px;
background-color: white;
padding: 5px;
}
.td_sticky4_white{
background-color: white;
}


.td_phanCach{
height: 5px;
background-color: white;
}

#div_button_save_reload_clear{
display: flex;
flex-direction: column;
align-items: center;
width: 80px;
}
#button_save{
background-color: #2A388F;
}
#button_save:hover{
background-color:#4254c9;
}
#button_save:disabled{
background-color: #DDDDDD;
}
#button_reload{
background-color: #009900;
}
#button_reload:hover{
background-color: #18c818;
}
#button_reload:disabled{
background-color: #DDDDDD;
}
#button_clear{
background-color: #CC0000;
}
#button_clear:hover{
background-color: #e53a3a;
}
#button_clear:disabled{
background-color: #DDDDDD;
}

#button_save, #button_reload, #button_clear{
border: none;
padding:2px;
margin: 3px 0px;
width: 50px;
border-radius: 3px;
color: white;
font-size: 12px;
font-weight:600;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div_hoTen{
padding: 0;
margin: 0;
border: 0;
border-left: 0.5px solid #DDDDDD;
border-right: 0.5px solid #DDDDDD;
display: flex;
justify-content: center;
align-items: center;
height: 134px;
}